.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
button#join-pool-button{
    background: linear-gradient(90deg, rgb(255, 184, 7) 8.49%, rgb(255, 234, 0) 100%);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(243, 201, 20);
}

.lc p {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFB807;
}
.liquiditycol {
    background: #232323;
box-shadow: 0px 2px 26px rgba(0, 0, 0, 0.15);
border-radius: 16px;
padding: 50px;
    margin-top: 50px;
}
.liqbtns{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.liqbtns .btn1 button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    background: transparent;
    border: none;
    outline: none;
    color: white
}
.liqbtns .btn2 button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 40px;
gap: 10px;
background: linear-gradient(90deg, #FFB807 8.49%, #FFEA00 100%);
border-radius: 8px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
border: none;
}

