.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
button#join-pool-button{
    background: linear-gradient(90deg, rgb(255, 184, 7) 8.49%, rgb(255, 234, 0) 100%);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(243, 201, 20);
}


